.friends-attending-details {
  margin: 1rem;
}

.friend {
  display: flex;
  align-items: center;
  margin: 0.5rem;
}

.friend-image {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  margin-right: 0.5rem;
  border-radius: 50%;
}

.comment-title,
.no-comDiv {
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

.form {
  border-radius: 0;
}

.comments-section {
  width: 80%;
}

.postBtn {
  font-size: 16px;
  padding: 1.5vh 2vw;
  background-color: #262626 !important;
  border-radius: 0% !important;
  border: none !important;
  color: white;
}

.hr-style {
  display: none;
}

/* mobile */
@media (min-width: 320px) and (max-width: 989px) {
  .event-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0.2rem 5rem 0.2rem;
    padding: 1.5rem 1rem;
    width: 100%;
    background: rgba(255, 255, 255, 0.4);
  }

  .details-photo {
    width: 90%;
    object-fit: cover;
  }

  .details-page {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .details-text {
    text-align: center;
    margin-top: 1rem;
    width: 80%;
  }

  .postBtn {
    margin-bottom: 3rem;
  }
}
/* ipad and laptops  */
@media (min-width: 990px) {
  .event-details-container {
    display: flex;
    justify-content: space-around;
    margin: 2rem 0 5rem 0;
    padding: 3.5rem 2rem;
    width: 80%;
    background: rgba(255, 255, 255, 0.4);
  }

  .details-photo {
    width: 33%;
    object-fit: cover;
    margin: 1rem;
  }

  .details-page {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .details-text {
    text-align: left;
    margin: 1rem 0rem;
    width: 33%;
  }
}
