.App {
  text-align: center;
  background-image: url('../../images/bill-hamway-24Uv4wRJ95A-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight:100;
  /* overflow: hidden; */
  scroll-behavior: none;
  /* height: 100%; */
}

button {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border: none;
  padding: 2vh 3vw;
  font-size: 20px;
  background: rgba(0, 0, 0, .6);
  color: white;
  box-shadow: 0 4px 14px 0 rgb(0 0 0 / 10%);
  transition: background 0.2s ease;
}

button:hover{
  background: rgba(255,255,255,0.7);
  box-shadow: 0 6px 20px rgb(93 93 93 / 50%);
  color: #262626;
}

Link {
  text-decoration: none;
}

a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

