.user-dash{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: none;
    position: sticky; bottom: 0;
    z-index: 1;
}

.dash-btn{
    margin-bottom: 2rem;
}

/* mobile */
@media (min-width: 320px) and (max-width: 989px) {
    .upcoming-shows-title{
        margin-top: 13rem;
        text-align: center;
    }
    .upcoming-shows-title-wrapper {
        height: 18%;
        width: 100%;
        margin-top: 6rem;
        margin-bottom: -3rem;
    }
}
  /* ipad and laptops  */
  @media (min-width: 990px) {
    .upcoming-shows-title{
        display: flex;
        margin-left: 4rem;
    }
    .upcoming-shows-title-wrapper {
        display: flex;
        height: 15%;
        width: 100%;
        justify-content: flex-start;
        align-items: flex-end;
        padding-left: 15rem;
        margin-top: 3rem;
        margin-bottom: -3rem;
    }
  }
