.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 110px;
    position: sticky; top: 0;
    background: rgba(0, 0, 0, .6);
    font-family: 'Nova Square', cursive;
    font-size: 26px;
    display: flex;
    overflow: none;
    z-index: 3;
}

.header-login-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 70%;
    margin-right: 2rem;
}

.h1-wrapper{
    display: flex;
    height: 100%;
    width: 100%;
    margin-left:1rem;
}

h1 {
    font-weight: 200;
    margin: 3vh 1vw;
}

.logout-btn,
.view-friends-btn,
.dashboard-btn{
    display: flex;
    width: 1.5rem;
    z-index: 3;
    margin-right: .2rem;
}

.view-friends-btn {
    width: 2.7rem;
}

.nav-bar-text {
    font-size: 16px;
    text-align: center;
}

.icon-and-text {
    display: flex;
    align-items: center;
    margin: 1rem;
    width: 10rem;
}