.event-card {
    background-color: white;
    color: #262626;
    margin-top: auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    display: inline-block;
    /* flex-direction: column; */
    /* flex: 1 1 100%; */
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 3px;
}

.card-text {
    margin: 250px 20px 10px 20px;
    text-align: left;
    font-size: 16px;
    width: 260px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;
    position: relative;
}


.card-text::after {
    content: "";
    position: absolute;
    right: 0;
    height: 100%;
    width: 6rem;
    background-image: linear-gradient(
        to right, transparent, white
    );
    pointer-events: none;
}

h3 {
    font-weight:800;
}

.view-details-button {
    width: 10rem;
    font-size: 14px;
    padding: .8rem;
    background-color: #ed2590;
    color: white;
    margin: 30px 20px 30px 20px;
    border-radius: 3px;
}
