.events-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.4);
    height: 50%;
    padding: 1.5rem;
    width: 70%;
    margin-top: 3rem;
    margin-bottom: 2rem;
    overflow-x: scroll;
}